USE [master]
GO


IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'AdvancedLibraryDB')
BEGIN
    CREATE DATABASE [AdvancedLibraryDB]
    PRINT 'Veritabanı oluşturuldu.'
END
ELSE
BEGIN
    PRINT 'Veritabanı zaten var. İşleme devam ediliyor...'
END
GO

USE [AdvancedLibraryDB]
GO



IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_AUTHORS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_AUTHORS](
        [AuthorID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [FirstName] [nvarchar](50) NULL,
        [SecondName] [nvarchar](50) NULL,
        [Surname] [nvarchar](50) NOT NULL
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_PUBLISHERS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_PUBLISHERS](
        [PublisherID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [Name] [nvarchar](100) NOT NULL,
        [Address] [nvarchar](250) NULL,
        [Phone] [nvarchar](20) NULL
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_CATEGORIES]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_CATEGORIES](
        [CategoryID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [Name] [nvarchar](50) NOT NULL
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_BOOKS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_BOOKS](
        [BookID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [ISBN] [nvarchar](20) NOT NULL UNIQUE,
        [Title] [nvarchar](200) NOT NULL,
        [PublicationYear] [int] NULL,
        [PageCount] [int] NULL,
        [CategoryID] [int] NULL,
        [PublisherID] [int] NULL,
        [AuthorID] [int] NULL,
        [Location] [nvarchar](100) NULL,
        FOREIGN KEY ([CategoryID]) REFERENCES [dbo].[TBL_CATEGORIES]([CategoryID]),
        FOREIGN KEY ([PublisherID]) REFERENCES [dbo].[TBL_PUBLISHERS]([PublisherID]),
        FOREIGN KEY ([AuthorID]) REFERENCES [dbo].[TBL_AUTHORS]([AuthorID])
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_BOOK_COPIES]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_BOOK_COPIES](
        [CopyID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [BookID] [int] NULL,
        [Status] [nvarchar](20) DEFAULT 'Available',
        FOREIGN KEY ([BookID]) REFERENCES [dbo].[TBL_BOOKS]([BookID])
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_EMPLOYEES]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_EMPLOYEES](
        [EmployeeID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [Username] [nvarchar](50) NOT NULL UNIQUE,
        [Password] [nvarchar](255) NOT NULL,
        [Role] [nvarchar](20) NULL
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_ANNOUNCEMENTS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_ANNOUNCEMENTS](
        [AnnouncementID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [Title] [nvarchar](100) NOT NULL,
        [Content] [nvarchar](max) NOT NULL,
        [PublishDate] [datetime] DEFAULT GETDATE(),
        [EmployeeID] [int] NULL
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_MEMBERS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_MEMBERS](
        [MemberID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [IdentityNo] [nvarchar](11) NOT NULL UNIQUE,
        [FirstName] [nvarchar](50) NOT NULL,
        [SecondName] [nvarchar](50) NULL,
        [Surname] [nvarchar](50) NOT NULL,
        [Email] [nvarchar](100) NULL,
        [Phone] [nvarchar](20) NULL,
        [PenaltyScore] [int] DEFAULT 0,
        [RegistrationDate] [datetime] DEFAULT GETDATE()
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_LOANS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_LOANS](
        [LoanID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [MemberID] [int] NULL,
        [CopyID] [int] NULL,
        [IssueDate] [datetime] DEFAULT GETDATE(),
        [DueDate] [datetime] NOT NULL,
        [ReturnDate] [datetime] NULL,
        FOREIGN KEY ([MemberID]) REFERENCES [dbo].[TBL_MEMBERS]([MemberID]),
        FOREIGN KEY ([CopyID]) REFERENCES [dbo].[TBL_BOOK_COPIES]([CopyID])
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_FINES]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_FINES](
        [FineID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [LoanID] [int] NULL,
        [Amount] [decimal](18, 2) NOT NULL,
        [IsPaid] [bit] DEFAULT 0,
        FOREIGN KEY ([LoanID]) REFERENCES [dbo].[TBL_LOANS]([LoanID])
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_RESERVATIONS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_RESERVATIONS](
        [ReservationID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [MemberID] [int] NULL,
        [BookID] [int] NULL,
        [RequestDate] [datetime] DEFAULT GETDATE(),
        [Status] [nvarchar](20) DEFAULT 'Pending',
        FOREIGN KEY ([MemberID]) REFERENCES [dbo].[TBL_MEMBERS]([MemberID]),
        FOREIGN KEY ([BookID]) REFERENCES [dbo].[TBL_BOOKS]([BookID])
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_SETTINGS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_SETTINGS](
        [SettingID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [SettingKey] [nvarchar](50) NOT NULL,
        [SettingValue] [nvarchar](100) NOT NULL
    )
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_PROCESS_LOGS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[TBL_PROCESS_LOGS](
        [LogID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
        [EmployeeID] [int] NULL,
        [ProcessDate] [datetime] DEFAULT GETDATE(),
        [Description] [nvarchar](max) NULL,
        [ProcessType] [nvarchar](50) NULL,
        FOREIGN KEY ([EmployeeID]) REFERENCES [dbo].[TBL_EMPLOYEES]([EmployeeID])
    )
END


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Announcements_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBL_ANNOUNCEMENTS]'))
BEGIN
    ALTER TABLE [dbo].[TBL_ANNOUNCEMENTS] WITH CHECK ADD CONSTRAINT [FK_Announcements_Employees] FOREIGN KEY([EmployeeID])
    REFERENCES [dbo].[TBL_EMPLOYEES] ([EmployeeID])
    ALTER TABLE [dbo].[TBL_ANNOUNCEMENTS] CHECK CONSTRAINT [FK_Announcements_Employees]
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_IssueBook]') AND type in (N'P', N'PC'))
BEGIN
    EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_IssueBook] AS' 
END
GO
ALTER PROCEDURE [dbo].[SP_IssueBook]
    @MemberID INT,
    @CopyID INT,
    @DayLimit INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TBL_BOOK_COPIES WHERE CopyID = @CopyID AND Status = 'Available')
    BEGIN
        INSERT INTO TBL_LOANS (MemberID, CopyID, IssueDate, DueDate)
        VALUES (@MemberID, @CopyID, GETDATE(), DATEADD(DAY, @DayLimit, GETDATE()));

        UPDATE TBL_BOOK_COPIES
        SET Status = 'OnLoan'
        WHERE CopyID = @CopyID;
    END
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_ReturnBook]') AND type in (N'P', N'PC'))
BEGIN
    EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_ReturnBook] AS' 
END
GO
ALTER PROCEDURE [dbo].[SP_ReturnBook]
    @LoanID INT
AS
BEGIN
    DECLARE @DueDate DATETIME, @ReturnDate DATETIME = GETDATE(), @DiffDays INT, @FineAmount DECIMAL(18,2)
    DECLARE @DailyFine DECIMAL(18,2), @CopyID INT, @MemberID INT

    SELECT @DueDate = DueDate, @CopyID = CopyID, @MemberID = MemberID FROM TBL_LOANS WHERE LoanID = @LoanID;
    SELECT @DailyFine = CAST(SettingValue AS DECIMAL(18,2)) FROM TBL_SETTINGS WHERE SettingKey = 'DailyFineAmount';

    UPDATE TBL_LOANS SET ReturnDate = @ReturnDate WHERE LoanID = @LoanID;
    UPDATE TBL_BOOK_COPIES SET Status = 'Available' WHERE CopyID = @CopyID;

    IF @ReturnDate > @DueDate
    BEGIN
        SET @DiffDays = DATEDIFF(DAY, @DueDate, @ReturnDate);
        SET @FineAmount = @DiffDays * @DailyFine;
        INSERT INTO TBL_FINES (LoanID, Amount, IsPaid) VALUES (@LoanID, @FineAmount, 0);
   
        UPDATE TBL_MEMBERS 
        SET PenaltyScore = PenaltyScore + @DiffDays 
        WHERE MemberID = @MemberID;
    END
END
GO


IF NOT EXISTS (SELECT 1 FROM TBL_SETTINGS WHERE SettingKey = 'DailyFineAmount')
    INSERT INTO TBL_SETTINGS (SettingKey, SettingValue) VALUES ('DailyFineAmount', '5.00');
IF NOT EXISTS (SELECT 1 FROM TBL_SETTINGS WHERE SettingKey = 'LoanDayLimit')
    INSERT INTO TBL_SETTINGS (SettingKey, SettingValue) VALUES ('LoanDayLimit', '15');
IF NOT EXISTS (SELECT 1 FROM TBL_SETTINGS WHERE SettingKey = 'MaxBookLimit')
    INSERT INTO TBL_SETTINGS (SettingKey, SettingValue) VALUES ('MaxBookLimit', '5');


IF NOT EXISTS (SELECT 1 FROM TBL_EMPLOYEES WHERE Username = 'admin')
    INSERT INTO TBL_EMPLOYEES (Username, Password, Role) VALUES ('admin', '1234', 'Admin');
IF NOT EXISTS (SELECT 1 FROM TBL_EMPLOYEES WHERE Username = 'staff1')
    INSERT INTO TBL_EMPLOYEES (Username, Password, Role) VALUES ('staff1', '1234', 'Staff');
IF NOT EXISTS (SELECT 1 FROM TBL_EMPLOYEES WHERE Username = 'kutuphaneci')
    INSERT INTO TBL_EMPLOYEES (Username, Password, Role) VALUES ('kutuphaneci', '1234', 'Staff');


IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Rowling') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('J.K.', 'Rowling');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Orwell') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('George', 'Orwell');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Tolkien') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('J.R.R.', 'Tolkien');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Dostoyevski') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Fyodor', 'Dostoyevski');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Ali') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Sabahattin', 'Ali');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Brown') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Dan', 'Brown');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'King') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Stephen', 'King');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Christie') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Agatha', 'Christie');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Pamuk') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Orhan', 'Pamuk');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Şafak') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Elif', 'Şafak');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Kemal') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Yaşar', 'Kemal');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Asimov') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Isaac', 'Asimov');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Hugo') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Victor', 'Hugo');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Tolstoy') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Lev', 'Tolstoy');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Kafka') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Franz', 'Kafka');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Austen') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Jane', 'Austen');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Hemingway') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Ernest', 'Hemingway');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Dickens') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Charles', 'Dickens');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Murakami') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Haruki', 'Murakami');
IF NOT EXISTS (SELECT 1 FROM TBL_AUTHORS WHERE Surname = 'Atay') INSERT INTO TBL_AUTHORS (FirstName, Surname) VALUES ('Oğuz', 'Atay');


IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Bilim Kurgu') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Bilim Kurgu');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Fantastik') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Fantastik');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Klasikler') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Klasikler');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Polisiye') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Polisiye');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Tarih') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Tarih');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Korku') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Korku');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Psikoloji') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Psikoloji');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Felsefe') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Felsefe');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Biyografi') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Biyografi');
IF NOT EXISTS (SELECT 1 FROM TBL_CATEGORIES WHERE Name = 'Roman') INSERT INTO TBL_CATEGORIES (Name) VALUES ('Roman');


IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'Yapı Kredi Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('Yapı Kredi Yayınları', 'İstanbul', '02121234567');
IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'Can Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('Can Yayınları', 'İstanbul', '02127654321');
IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'İthaki Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('İthaki Yayınları', 'Kadıköy', '02161112233');
IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'Pegasus Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('Pegasus Yayınları', 'Ankara', '03125554433');
IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'Metis Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('Metis Yayınları', 'İzmir', '02324445566');
IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'İş Bankası Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('İş Bankası Yayınları', 'İstanbul', '02125559988');
IF NOT EXISTS (SELECT 1 FROM TBL_PUBLISHERS WHERE Name = 'Everest Yayınları') INSERT INTO TBL_PUBLISHERS (Name, Address, Phone) VALUES ('Everest Yayınları', 'İstanbul', '02124447766');



IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750001')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750001', 'Harry Potter ve Felsefe Taşı', 1997, 223, 2, 1, 1, 'Raf A-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750002')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750002', '1984', 1949, 328, 1, 2, 2, 'Raf B-3');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750003')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750003', 'Yüzüklerin Efendisi: Yüzük Kardeşliği', 1954, 423, 2, 3, 3, 'Raf A-2');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750004')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750004', 'Suç ve Ceza', 1866, 671, 3, 2, 4, 'Raf C-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750005')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750005', 'Kürk Mantolu Madonna', 1943, 160, 3, 1, 5, 'Raf C-2');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750006')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750006', 'Da Vinci Şifresi', 2003, 454, 4, 4, 6, 'Raf D-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750007')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750007', 'O (It)', 1986, 1138, 6, 4, 7, 'Raf E-5');


IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750008')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750008', 'Doğu Ekspresinde Cinayet', 1934, 256, 4, 7, 8, 'Raf D-2');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750009')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750009', 'Masumiyet Müzesi', 2008, 592, 10, 1, 9, 'Raf F-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750010')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750010', 'Aşk', 2009, 420, 10, 6, 10, 'Raf F-2');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750011')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750011', 'İnce Memed 1', 1955, 436, 10, 1, 11, 'Raf G-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750012')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750012', 'Vakıf (Foundation)', 1951, 255, 1, 3, 12, 'Raf B-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750013')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750013', 'Sefiller', 1862, 1463, 3, 6, 13, 'Raf C-3');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750014')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750014', 'Savaş ve Barış', 1869, 1225, 3, 6, 14, 'Raf C-4');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750015')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750015', 'Dönüşüm', 1915, 80, 3, 2, 15, 'Raf C-5');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750016')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750016', 'Gurur ve Önyargı', 1813, 432, 10, 6, 16, 'Raf F-3');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750017')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750017', 'Çanlar Kimin İçin Çalıyor', 1940, 471, 10, 6, 17, 'Raf F-4');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750018')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750018', 'İki Şehrin Hikayesi', 1859, 448, 3, 2, 18, 'Raf C-6');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750019')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750019', 'İmkansızın Şarkısı', 1987, 350, 10, 6, 19, 'Raf F-5');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750020')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750020', 'Tutunamayanlar', 1972, 724, 10, 5, 20, 'Raf G-2');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750021')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750021', 'Ben, Robot', 1950, 253, 1, 3, 12, 'Raf B-2');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750022')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750022', 'Hayvan Çiftliği', 1945, 112, 10, 2, 2, 'Raf B-4');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750023')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750023', 'Yeraltından Notlar', 1864, 140, 7, 6, 4, 'Raf C-7');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750024')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750024', 'Kuyucaklı Yusuf', 1937, 220, 10, 1, 5, 'Raf G-3');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750025')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750025', 'Melekler ve Şeytanlar', 2000, 520, 4, 4, 6, 'Raf D-3');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750026')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750026', 'Medyum', 1977, 500, 6, 4, 7, 'Raf E-1');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750027')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750027', 'On Küçük Zenci', 1939, 224, 4, 7, 8, 'Raf D-4');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750028')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750028', 'Benim Adım Kırmızı', 1998, 450, 10, 5, 9, 'Raf F-6');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750029')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750029', 'Anna Karenina', 1877, 864, 3, 6, 14, 'Raf C-8');
IF NOT EXISTS (SELECT 1 FROM TBL_BOOKS WHERE ISBN = '9789750030')
    INSERT INTO TBL_BOOKS (ISBN, Title, PublicationYear, PageCount, CategoryID, PublisherID, AuthorID, Location) VALUES ('9789750030', 'Dava', 1925, 230, 8, 2, 15, 'Raf H-1');

DECLARE @i INT = 1;
DECLARE @TotalBooks INT = 30;
DECLARE @CurrentBookCopies INT;

WHILE @i <= @TotalBooks
BEGIN
    SELECT @CurrentBookCopies = COUNT(*) FROM TBL_BOOK_COPIES WHERE BookID = @i;
    
    IF @CurrentBookCopies < 3
    BEGIN
        INSERT INTO TBL_BOOK_COPIES (BookID, Status) VALUES (@i, 'Available');
        INSERT INTO TBL_BOOK_COPIES (BookID, Status) VALUES (@i, 'Available');
        
        IF (@i % 5 = 0) INSERT INTO TBL_BOOK_COPIES (BookID, Status) VALUES (@i, 'Maintenance');
        ELSE IF (@i % 3 = 0) INSERT INTO TBL_BOOK_COPIES (BookID, Status) VALUES (@i, 'OnLoan');
        ELSE INSERT INTO TBL_BOOK_COPIES (BookID, Status) VALUES (@i, 'Available');
    END
    SET @i = @i + 1;
END


IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '11111111111') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('11111111111', 'Ali', 'Yılmaz', 'ali@mail.com', '5551112233', 0);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '22222222222') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('22222222222', 'Ayşe', 'Demir', 'ayse@mail.com', '5552223344', 0);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '33333333333') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('33333333333', 'Mehmet', 'Kaya', 'mehmet@mail.com', '5553334455', 10);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '44444444444') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('44444444444', 'Zeynep', 'Çelik', 'zeynep@mail.com', '5554445566', 0);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '55555555555') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('55555555555', 'Can', 'Öztürk', 'can@mail.com', '5555556677', 5);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '66666666666') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('66666666666', 'Fatma', 'Arslan', 'fatma@mail.com', '5556667788', 0);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '77777777777') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('77777777777', 'Burak', 'Şahin', 'burak@mail.com', '5557778899', 0);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '88888888888') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('88888888888', 'Elif', 'Koç', 'elif@mail.com', '5558889900', 0);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '99999999999') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('99999999999', 'Cem', 'Yıldız', 'cem@mail.com', '5559990011', 20);
IF NOT EXISTS (SELECT 1 FROM TBL_MEMBERS WHERE IdentityNo = '12345678901') INSERT INTO TBL_MEMBERS (IdentityNo, FirstName, Surname, Email, Phone, PenaltyScore) VALUES ('12345678901', 'Selin', 'Aksoy', 'selin@mail.com', '5550001122', 0);




INSERT INTO TBL_LOANS (MemberID, CopyID, IssueDate, DueDate, ReturnDate)
SELECT 
    (BC.CopyID % 10) + 1, 
    BC.CopyID, 
    GETDATE()-5, 
    GETDATE()+10, 
    NULL
FROM TBL_BOOK_COPIES BC
WHERE BC.Status = 'OnLoan' 
AND NOT EXISTS (SELECT 1 FROM TBL_LOANS WHERE CopyID = BC.CopyID AND ReturnDate IS NULL);


IF (SELECT COUNT(*) FROM TBL_LOANS WHERE ReturnDate IS NOT NULL) < 10
BEGIN
    INSERT INTO TBL_LOANS (MemberID, CopyID, IssueDate, DueDate, ReturnDate) VALUES (1, 1, GETDATE()-60, GETDATE()-45, GETDATE()-40);
    INSERT INTO TBL_LOANS (MemberID, CopyID, IssueDate, DueDate, ReturnDate) VALUES (2, 4, GETDATE()-50, GETDATE()-35, GETDATE()-30);
    INSERT INTO TBL_LOANS (MemberID, CopyID, IssueDate, DueDate, ReturnDate) VALUES (3, 7, GETDATE()-40, GETDATE()-25, GETDATE()-22);
    INSERT INTO TBL_LOANS (MemberID, CopyID, IssueDate, DueDate, ReturnDate) VALUES (4, 10, GETDATE()-30, GETDATE()-15, GETDATE()-10);
END

IF NOT EXISTS (SELECT 1 FROM TBL_ANNOUNCEMENTS WHERE Title = 'Sınav Haftası')
    INSERT INTO TBL_ANNOUNCEMENTS (Title, Content, EmployeeID, PublishDate) VALUES ('Sınav Haftası', 'Sınav haftası boyunca kütüphanemiz 7/24 açıktır.', 1, GETDATE());
IF NOT EXISTS (SELECT 1 FROM TBL_ANNOUNCEMENTS WHERE Title = 'Yeni Kitaplar')
    INSERT INTO TBL_ANNOUNCEMENTS (Title, Content, EmployeeID, PublishDate) VALUES ('Yeni Kitaplar', 'Klasikler rafımıza 20 yeni eser eklendi.', 1, GETDATE()-2);
IF NOT EXISTS (SELECT 1 FROM TBL_ANNOUNCEMENTS WHERE Title = 'Sistem Bakımı')
    INSERT INTO TBL_ANNOUNCEMENTS (Title, Content, EmployeeID, PublishDate) VALUES ('Sistem Bakımı', 'Pazar günü kısa süreli bakım yapılacaktır.', 1, GETDATE()-10);


IF EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_ActiveLoans]'))
    DROP VIEW [dbo].[VW_ActiveLoans]
GO
CREATE VIEW [dbo].[VW_ActiveLoans]
AS
SELECT 
    L.LoanID,
    L.MemberID,
    M.FirstName + ' ' + M.Surname AS [MemberName],
    M.IdentityNo AS [MemberIdentity],
    L.CopyID,
    B.Title AS [BookTitle],
    B.ISBN,
    L.IssueDate,
    L.DueDate,
    DATEDIFF(DAY, GETDATE(), L.DueDate) AS [DaysRemaining],
    CASE 
        WHEN GETDATE() > L.DueDate THEN DATEDIFF(DAY, L.DueDate, GETDATE())
        ELSE 0
    END AS [DaysOverdue]
FROM TBL_LOANS L
INNER JOIN TBL_MEMBERS M ON L.MemberID = M.MemberID
INNER JOIN TBL_BOOK_COPIES BC ON L.CopyID = BC.CopyID
INNER JOIN TBL_BOOKS B ON BC.BookID = B.BookID
WHERE L.ReturnDate IS NULL
GO


IF EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BookDetails]'))
    DROP VIEW [dbo].[VW_BookDetails]
GO
CREATE VIEW [dbo].[VW_BookDetails]
AS
SELECT 
    B.BookID,
    B.ISBN,
    B.Title,
    B.PublicationYear,
    B.PageCount,
    B.Location,
    C.Name AS [Category],
    A.FirstName + ' ' + A.Surname AS [Author],
    P.Name AS [Publisher],
    (SELECT COUNT(*) FROM TBL_BOOK_COPIES WHERE BookID = B.BookID AND Status = 'Available') AS [AvailableCopies],
    (SELECT COUNT(*) FROM TBL_BOOK_COPIES WHERE BookID = B.BookID) AS [TotalCopies]
FROM TBL_BOOKS B
LEFT JOIN TBL_CATEGORIES C ON B.CategoryID = C.CategoryID
LEFT JOIN TBL_AUTHORS A ON B.AuthorID = A.AuthorID
LEFT JOIN TBL_PUBLISHERS P ON B.PublisherID = P.PublisherID
GO

IF EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_MemberStatistics]'))
    DROP VIEW [dbo].[VW_MemberStatistics]
GO
CREATE VIEW [dbo].[VW_MemberStatistics]
AS
SELECT 
    M.MemberID,
    M.IdentityNo,
    M.FirstName + ' ' + M.Surname AS [FullName],
    M.PenaltyScore,
    M.RegistrationDate,
    (SELECT COUNT(*) FROM TBL_LOANS WHERE MemberID = M.MemberID AND ReturnDate IS NULL) AS [ActiveLoans],
    (SELECT COUNT(*) FROM TBL_LOANS WHERE MemberID = M.MemberID) AS [TotalLoans],
    (SELECT COUNT(*) FROM TBL_LOANS WHERE MemberID = M.MemberID AND ReturnDate IS NULL AND GETDATE() > DueDate) AS [OverdueLoans],
    (SELECT ISNULL(SUM(Amount), 0) FROM TBL_FINES F 
     INNER JOIN TBL_LOANS L ON F.LoanID = L.LoanID 
     WHERE L.MemberID = M.MemberID AND F.IsPaid = 0) AS [UnpaidFines]
FROM TBL_MEMBERS M
GO


IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_DeleteBookCopies]'))
    DROP TRIGGER [dbo].[TRG_DeleteBookCopies]
GO
CREATE TRIGGER [dbo].[TRG_DeleteBookCopies]
ON [dbo].[TBL_BOOKS]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TBL_BOOK_COPIES 
    WHERE BookID IN (SELECT BookID FROM deleted)
    AND CopyID NOT IN (SELECT CopyID FROM TBL_LOANS WHERE ReturnDate IS NULL)
END
GO


IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_PreventMemberDelete]'))
    DROP TRIGGER [dbo].[TRG_PreventMemberDelete]
GO
CREATE TRIGGER [dbo].[TRG_PreventMemberDelete]
ON [dbo].[TBL_MEMBERS]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MemberID INT;
    SELECT @MemberID = MemberID FROM deleted;
    

    IF EXISTS (SELECT 1 FROM TBL_LOANS WHERE MemberID = @MemberID AND ReturnDate IS NULL)
    BEGIN
        RAISERROR('Bu üyenin aktif ödünçleri var! Önce kitapları iade alınmalı.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    DELETE FROM TBL_MEMBERS WHERE MemberID = @MemberID;
END
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FN_CalculateTotalFine]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
    DROP FUNCTION [dbo].[FN_CalculateTotalFine]
GO
CREATE FUNCTION [dbo].[FN_CalculateTotalFine](@MemberID INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TotalFine DECIMAL(18,2) = 0;
    
    SELECT @TotalFine = ISNULL(SUM(F.Amount), 0)
    FROM TBL_FINES F
    INNER JOIN TBL_LOANS L ON F.LoanID = L.LoanID
    WHERE L.MemberID = @MemberID AND F.IsPaid = 0;
    
    RETURN @TotalFine;
END
GO


IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FN_CanBorrowBook]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
    DROP FUNCTION [dbo].[FN_CanBorrowBook]
GO
CREATE FUNCTION [dbo].[FN_CanBorrowBook](@MemberID INT)
RETURNS BIT
AS
BEGIN
    DECLARE @Result BIT = 1;
    DECLARE @PenaltyScore INT;
    DECLARE @ActiveLoans INT;
    DECLARE @MaxLimit INT;

    SELECT @PenaltyScore = PenaltyScore FROM TBL_MEMBERS WHERE MemberID = @MemberID;
    IF @PenaltyScore >= 50
        SET @Result = 0;
    

    SELECT @ActiveLoans = COUNT(*) FROM TBL_LOANS WHERE MemberID = @MemberID AND ReturnDate IS NULL;
    SELECT @MaxLimit = CAST(SettingValue AS INT) FROM TBL_SETTINGS WHERE SettingKey = 'MaxBookLimit';
    IF @MaxLimit IS NULL SET @MaxLimit = 5;
    
    IF @ActiveLoans >= @MaxLimit
        SET @Result = 0;
    
    RETURN @Result;
END
GO

